'name': 'Comments'
'scopeName': 'source.elm'
'settings':
  'shellVariables': [
    {
      'name': 'TM_COMMENT_START_2'
      'value': '{-'
    }
    {
      'name': 'TM_COMMENT_END_2'
      'value': '-}'
    }
    {
      'name': 'TM_COMMENT_START'
      'value': '--'
    }
  ]
